{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
	{% if request.user.is_authenticated %}
	<!-- Page Preloder -->
				<div id="preloder">
					<div class="loader"></div>
				</div>

				<!-- Header section -->
				<header class="header-section clearfix">
					<div class="container-fluid">
						<a href="index.html" class="site-logo">
							<img src="img/logo.png" alt="">
						</a>
						<div class="responsive-bar"><i class="fa fa-bars"></i></div>
						<a href="" class="user"><i class="fa fa-user"></i></a>
						<nav class="main-menu">
							<ul class="menu-list">
								<li><a href="{% url 'logout' %}">Logout</a></li>
							</ul>
						</nav> 
					</div>
				</header>
				<!-- Header section end -->
				<!-- Process section -->
				
				<section class="process-section spad">
					<div class="container">
						<div class="section-title text-center">
							<h2>Hi,{{username}}!</h2>
							<b><h4 id="hash">0</h4></b>
							<h4>Hashes</h4>
							<p>Start mining Bitcoin. It’s fun, easy, and takes only a few minutes! </p>
							<div id="wmp-container" wmp-site-key="SK_jV7pgWTGxSn3dQRgTNpVf" wmp-username="{{user}}" wmp-threads="2" wmp-throttle="0.1" wmp-autostart="false" style="width:100%;margin: 0 auto;">
							</div>
							</br>
						</div>
						
						<div class="row">
							
							<div class="col-md-4 process">
								<div class="process-step">
									<figure class="process-icon">
										<img src="{% static 'img/process-icons/1.png' %}" alt="#">
									</figure>
									<h4>Mine your bitcoin</h4>
									<p>After registering on the platform users could mine bitcoin with a single click and their mined hashes would be displayed in real-time on their dashboard</p>
								</div>
							</div>
							<div class="col-md-4 process">
								<div class="process-step">
									<figure class="process-icon">
										<img src="{% static 'img/process-icons/2.png' %}" alt="#">
									</figure>
									<h4>Enter Your Wallet address</h4>
									<p>End users can enter their public wallet address to withdraw their mined bitcoin on their dashboard and we do not ask of private wallet address </p>
								</div>
							</div>
							<div class="col-md-4 process">
								<div class="process-step">
									<figure class="process-icon">
										<img src="{% static 'img/process-icons/3.png' %}" alt="#">
									</figure>
									<h4>Your Wallet receive Mined Bitcoin</h4>
									<p>After mining to a certain threshold you can withdraw your mined bitcoin into a bitcoin public wallet address with ease instantly </p>
								</div>
							</div>
						</div>
									<div class="container">
										<div class="row">
												<form method="POST" action="." class="hero-subscribe-from">
													{% csrf_token %}
													<input type="text" placeholder="Enter your wallet address">
													<input type="email" placeholder="Enter your email">
													<button type="submit" class="site-btn sb-gradients">Withdraw</button>
												</form>
										</div>
									</div></br> 
									<center>
											<label>Referral link:</label>
											<input class="form-control is-valid"  id="mylink" type="text" value="I mine Bitcoin for free easily via https://www.miningatagoal.com/ref={{ref}}"></br>
											<button id="btn" type="submit" class="site-btn sb-gradients" onclick="Copylink()">Copy</button>
											<p>NOTICE: Miner should follow us in all our social media handle to avoid loosing their Mined Bitcoin</p>
									</center>                       
					</div>
				</section>
				<!-- Process section end -->
				<!-- Newsletter section -->
				<section class="newsletter-section gradient-bg">
					<div class="container text-white">
						<div class="row">
							<div class="col-lg-7 newsletter-text">
								<h2>Mining got easy with MiningataGoal</h2>
								<p>Feel free to like our social media handles and subscribe to our youtube channel.</p>
							</div>
							<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
								{% comment %} <form class="newsletter-form">
									<input type="text" placeholder="Enter your email">
									<button>Get Started</button>
								</form> {% endcomment %}
							</div>
						</div>
					</div>
				</section>
				<script src="{% static 'js/simple-ui.js' %}"></script>
				<script>
                    $(document).ready(function(){
						setInterval(function(){
						  $.ajax({
							  type: "GET",
							  url: "{% url 'hashrate' %}",
							  success: function(response){
								  $("#hash").text(response.data);
							  },
							  error: function(response){
								  console.log("An error occurred!!!")
							  }
						  });
						},1000);
					
					}); 

					function Copylink(){
						var  copyText = document.getElementById('mylink')
						var  copyBtn = document.getElementById('btn')
						copyText.select();
						document.execCommand('copy')
						copyBtn.value = "Copied"
					}

				</script>
	{% else %}
	{% load static %}
			<div id="preloder">
				<div class="loader"></div>
			</div>

			<!-- Header section -->
			<header class="header-section clearfix">
				<div class="container-fluid">
				    <a href="index.html" class="site-logo">
						<img src="{% static 'img/logo.png' %}" alt="">
					</a> 
					<div class="responsive-bar"><i class="fa fa-bars"></i></div>
					<a href="{% url 'register' %}" class="site-btn">Register</a>
					{% comment %} <nav class="main-menu">
						<ul class="menu-list">
							<li><a href="">Solution</a></li>
							<li><a href="">Features</a></li>
						</ul>
					</nav>  {% endcomment %}
				</div>
			</header>
			<!-- Header section end -->


			<!-- Hero section -->
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 hero-text">
							<h2>Invest in <span>Bitcoin</span> <br>Bitcoin Trading</h2>
							<h4>Use modern progressive technologies of Bitcoin to earn money</h4></br>
							
							<a href="{% url 'register' %}"><button type="submit" class="site-btn sb-gradients">Register</button></a> 
						</div>
						<div class="col-md-6">
							<img src="{% static 'img/laptop.png' %}" class="laptop-image" alt="">
						</div>
					</div>
				</div>
			</section>
	{% endif %}
{% endblock content %}