{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<img src="{% static 'img/logo.png' %}" alt="">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="{% url 'login' %}" class="site-btn">Login</a>
			{% comment %} <nav class="main-menu">
				<ul class="menu-list">
					<li><a href="">Solution</a></li>
					<li><a href="">Features</a></li>
				</ul>
			</nav> {% endcomment %}
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 hero-text">
					<h2>Invest in <span>Bitcoin</span> <br>Bitcoin Trading</h2>
					<h4>Use modern progressive technologies of Bitcoin to earn money</h4>
					<form method="POST" action="."  class="hero-subscribe-from">
					     {% csrf_token %}
						    {% for key,value in form.errors.items %} 
								{% for error in value %}
								   <div class="alert alert-danger alert-dismissible fade show" role="alert">
								   	  {{error}}
								   </div>
								{% endfor %}
							{% endfor %}
						 {{form.username}}
						 {{form.email}}
						 {{form.password1}}
						 {{form.password2}}
						{% comment %} <input type="text" placeholder="Enter your username">
						<input type="email" placeholder="Enter your email">
						<input type="password" placeholder="Enter your password">
						<input type="password" placeholder="Confirm your password"> {% endcomment %}
						<button type="submit" class="site-btn sb-gradients">Register</button>
					</form>
				</div>
				<div class="col-md-6">
					<img src="{% static 'img/laptop.png' %}" class="laptop-image" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock content %}



	<!-- Footer section -->
	